 <div ng-controller="aboutController" class="text-left">
     <div class="aside-wrap">
         <article class="col-sx-12 col-sm-12 col-md-4 text-reading">
             <h2>{{message}}</h2>
             <p>
                 Et ius movet meliore inermis, nibh bonorum mel id. Nobis possit dignissim pri in, et ius facilis suavitate splendide, te vis choro quidam. His clita phaedrum voluptaria ea, qui ea ridens delenit singulis. Mucius impetus noluisse ad per, elit audire sed in, at dicta summo iudicabit vel. An epicurei incorrupte consectetuer sea, ne quo melius dignissim philosophia.
                 Sit laudem philosophia ex, causae eripuit maluisset at per. 
             </p>
             <p>
                 Bonorum probatus quaerendum duo ei, per id autem percipit. Ea clita quando vis, eam an stet corpora, audiam principes abhorreant id quo. Graeci imperdiet quo ei, adhuc labitur invidunt ea mei. Sed ei purto aliquid.
                 Eam eu accommodare contentiones, est placerat mandamus incorrupte ea, eum alii nonumy electram eu. Cum mediocrem conceptam ad. Purto utroque antiopam ius et, nec error nostro detracto an. Scripta elaboraret nam in, cum probo soleat sententiae id, noluisse delicata indoctum ad sed. Vel dicit consequat omittantur ne. At tale liber mel. Ad libris iriure appetere eam.
             </p>
             <p>
                 Et ius movet meliore inermis, nibh bonorum mel id. Nobis possit dignissim pri in, et ius facilis suavitate splendide, te vis choro quidam. His clita phaedrum voluptaria ea, qui ea ridens delenit singulis. Mucius impetus noluisse ad per, elit audire sed in, at dicta summo iudicabit vel. An epicurei incorrupte consectetuer sea, ne quo melius dignissim philosophia.
             </p>
         </article>
         <article class="col-sx-12 col-sm-12 col-md-4 text-reading">
             <h4>Hur vi strartade</h4>
             <p>Et ius movet meliore inermis, nibh bonorum mel id. Nobis possit dignissim pri in, et ius facilis suavitate splendide, te vis choro quidam. His clita phaedrum voluptaria ea, qui ea ridens delenit singulis. Mucius impetus noluisse ad per, elit audire sed in, at dicta summo iudicabit vel. An epicurei incorrupte consectetuer sea, ne quo melius dignissim philosophia.
             Sit laudem philosophia ex, causae eripuit maluisset at per. 

             </p><p>
                Sea at hinc velit. Bonorum probatus quaerendum duo ei, per id autem percipit. Ea clita quando vis, eam an stet corpora, audiam principes abhorreant id quo. Graeci imperdiet quo ei, adhuc labitur invidunt ea mei. Sed ei purto aliquid.

                Eam eu accommodare contentiones, est placerat mandamus incorrupte ea, eum alii nonumy electram eu. Cum mediocrem conceptam ad. Purto utroque antiopam ius et, nec error nostro detracto an. Scripta elaboraret nam in, cum probo soleat sententiae id, noluisse delicata indoctum ad sed. Vel dicit consequat omittantur ne. At tale liber mel. Ad libris iriure appetere eam.
            </p><p>
                Sea at hinc velit. Bonorum probatus quaerendum duo ei, per id autem percipit. Ea clita quando vis, eam an stet corpora, audiam principes abhorreant id quo. Graeci imperdiet quo ei, adhuc labitur invidunt ea mei. Sed ei purto aliquid. Sea at hinc velit. Bonorum probatus quaerendum duo ei, per id autem percipit. Ea clita quando vis, eam an stet corpora, audiam principes abhorreant id quo. Graeci imperdiet quo ei, adhuc labitur invidunt ea mei.
                Sed ei purto aliquid.
            </p>
            
         </article>
         <article class="col-sx-12 col-sm-12 col-md-4 text-reading">
             <h4>Hur ser på framtiden</h4>
             <p>
                 Lorem ipsum dolor sit amet, cu his veri homero alienum, omnium persecuti conceptam vix ut. Deleniti consetetur vel no, idque convenire petentium te ius. Mei an putant mediocrem. Per no nonumy mucius scripserit, no erat ullum alterum quo. Cu nulla detraxit temporibus duo, dolorem tacimates mel in, vel in honestatis definitiones. Ex dolor commune pri.
                 Et ius movet meliore inermis, nibh bonorum mel id. Nobis possit dignissim pri in, et ius facilis suavitate splendide, te vis choro quidam. His clita phaedrum voluptaria ea, qui ea ridens delenit singulis. Mucius impetus noluisse ad per, elit audire sed in, at dicta summo iudicabit vel. An epicurei incorrupte consectetuer sea, ne quo melius dignissim philosophia.
             </p>
             <p>
                 Sit laudem philosophia ex, causae eripuit maluisset at per. An quot feugiat mei. Nostro forensibus vituperata eos ne. Ei pro vero habeo maiestatis.
                 Sea at hinc velit. 
             </p>
             <p>
                 Lorem ipsum dolor sit amet, cu his veri homero alienum, omnium persecuti conceptam vix ut. Deleniti consetetur vel no, idque convenire petentium te ius. Mei an putant mediocrem. Per no nonumy mucius scripserit, no erat ullum alterum quo. Cu nulla detraxit temporibus duo, dolorem tacimates mel in, vel in honestatis definitiones. Ex dolor commune pri.
                 Et ius movet meliore inermis, nibh bonorum mel id. Nobis possit dignissim pri in.
             </p>
         </article>     
     </div>
 
